.default {
  background-color: rgb(10, 8, 8);

  width: 100%;
}
.default h1 {
  margin-top: 60px;
  font-size: 30px;
  margin-right: 85rem;
  color: orange;
}

.middle {
  background-color: white;
}

.darkmode {
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6rem;
  border: 2px solid orange;
  color: orange;
  background-color: black;
  position: relative;
  bottom: 1.75rem;
  left: 54rem;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
