body {
  background-color: black;
}

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  border-top: 1px solid gray;
}

.div1 {

  color: azure;
  margin-top: 50px;

}
.div1 h3 {
  color: orange;
  width: 100%;
}
.div1 p{
  width: 400px;
  margin-left: 750px;
}

.Contact h4 {
  color: orange;
}
.Contact {
  color: gray;
  margin-left: 2rem;
}

.Contact ul {
  margin-left: 32rem;
}

.icons {
  margin-left: 12rem;
}

.icons li:hover{


color: orange;
font-size: 45px ;
transition: 1s; 
}