body{

background-color: black;

}


.footer{

height: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;
justify-items: center;
}

.div1{


    width: 450px;
    color:azure;
    margin-top: 50px;
    margin-Left:45rem;
    
    
    
    }
    .div1 h3{
    color: orange;
    
    }

    .div2 h4{

color: orange
mar


    }
    .div2 {


color:gray;
margin-right: 110px;

    }

    .div2 ul{

margin-left: 35rem;


    }


     


    