
.Home{

display: flex;
flex-direction: column;
width: 100%;
justify-items: center;
background-color: black;
}



.Home h1{

color: orange;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
margin-left: 5rem;
margin-top: 2rem;

}

.links{


font-size: 30px;
color: aliceblue;
text-decoration: none;
margin-left: 6rem;
margin-top: 3rem;
box-shadow: inset 0 0 0 0 gray;
color:orange;

transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
.links:hover{

    box-shadow: inset 100px 0 0 0 black;
    color:white

}
.Links{


margin-bottom: 3rem;


}


ul{

display: flex;
margin-left: 38rem;


}
ul li{

color: aliceblue;
list-style: none;
font-size:35px;
margin-left: 1.5rem;



}

