.search{

padding: 15px;
color: orange;
background-color: black;
border-radius: 5px;
width: 130px;
margin-left: 40px;


}
.input :hover{



    border:  1px solid orange 
}

.dark{

    border-radius: 30px;
    cursor: pointer;
    font-size:1rem;
    padding: 0.6rem;
    border: 2px solid orange;
    color: orange;
    background-color: black;
    position: relative;
   top: -3rem;
    left: 39rem;
    margin-bottom: 25px;

}

.recipes ul{

    padding: 10px;
text-align: center;
text-align: start;
margin-left: 35rem;
width: 50%;
}
.recipes ul li{

list-style:disc;
color: rgb(105, 105, 105);
font-size: 20px;
padding: 10px;
margin-bottom: 50px;
}

.recipes{

margin-top: 40px;
display: flex;
flex-direction: column;
   justify-content: space-around;
   justify-items: center;
  
}

.recipes h1{

margin-right: 5rem;

}